@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

body,html {
	padding: 0px;
	margin: 0px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: linear-gradient(to right, #fdfbfb, #d0d3d4);
}

body {
	padding: 15px;
}


header {
	display: flex;
	justify-content:center;
	font-size: 5vw;
	word-spacing: 2vw;
	color: #3f51b5;
}

.navbar {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 55px;
	gap:50px;
}


.navbutton {
	font-size: large;
	width: 180px;
	letter-spacing:1px;
	background-color:#3f51b5;
	color: white;
	font-weight:500;
	height: 50px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border: 1px solid #3f51b5;
}

.login-button {
	font-size: 14px;
	width: 70px;
	letter-spacing: 1px;
	background-color:#3f51b5;
	color: white;
	height: 35px;
	border: 1px solid #3f51b5;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}

.navbutton:hover {
	background-color:#6b78c2;
	border: 1px solid #6b78c2;
	cursor: pointer;
}

.active {
	background-color:#6b78c2;
	border: 1px solid #6b78c2;
	cursor:default;
}

.active:hover {
	cursor:default;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 15px;
	width:fit-content;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #3f51b5;
}

form {
	width: 100%;
	height: 100%;
}

.centered-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

input {
	font-size: 14px;
}


.input-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 10px;
}
label {
	width: 40%;
	display: flex;
	align-items:center;
}

.notification-container {
	margin-top: 10px;
}

.filter-form {
	margin-bottom: 20px;
}

.save-button {
	color: white;
	background-color: #3f51b5;
	border: 1px solid #3f51b5;
	margin-left: 5px;
	width: 90px;
	font-size: 14px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.save-button-under {
	margin-left: 0px;
	margin-top: 5px;
}

.save-button:hover {
	background-color: #6b78c2;
}

.update-form-container {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	border: 1px solid #3f51b5;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 40%;
	padding: 15px;
	gap: 30px;
}
.message-container {
	display: flex;
	gap: 10px;
	margin-bottom: 8px;
	align-items: center;
}
.message {
	background-color:aliceblue;
	padding: 8px;
	height: 40px;
	width: 50%;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background-color: #b6b3c9;
	text-decoration:none !important;
	color: inherit !important;
}

.message:visited {
	color:inherit !important;
	text-decoration:none !important;
}

.message:visited {
	color: inherit !important;
	text-decoration:none !important;
}

.message:hover {
	background-color: #d0cedb;
	cursor: pointer;
}

.input-delete {
	display:none;
}

.message-content {
	max-width: 600px;
	text-wrap: wrap;
	max-height: 400px;
	padding: 8px;
	height: 150px;
	border: 1px solid #3f51b5;
	border-radius: 5px;
	margin-top: 5px;
	overflow-y:auto;
	background-color:aliceblue;
}

textarea {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin-top: 5px;
	width: 600px;
	max-width: 100%;
}

