<div [class.container]="!profile">
    <div class="filters" [class.profile-filters]="profile">
        <mat-form-field appearance="fill">
            <mat-label>Types of programs:</mat-label>
            <mat-select [(ngModel)]="selectedTypeOfProgram" [ngModelOptions]="{standalone: true}"
                (selectionChange)="filter()">
                <mat-option *ngFor="let typeOfProgram of typesOfPrograms"
                    [value]="typeOfProgram">{{typeOfProgram}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Category:</mat-label>
            <mat-select [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}" (ngModelChange)="filter()">
                <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Min price:</mat-label>
            <input matInput type="number" (change)="filter()" [(ngModel)]="priceFrom">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Max price:</mat-label>
            <input matInput type="number" (change)="filter()" [(ngModel)]="priceTo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Name contains:</mat-label>
            <input matInput type="text" (change)="filter()" [(ngModel)]="nameContains">
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Difficulty level:</mat-label>
            <input matInput type="number" (change)="filter()" [(ngModel)]="difficultyLevel">
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>Difficulty level:</mat-label>
            <mat-select [(ngModel)]="selectedLevel" [ngModelOptions]="{standalone: true}" (selectionChange)="filter()">
                <mat-option value="1">Level 1</mat-option>
                <mat-option value="2">Level 2</mat-option>
                <mat-option value="3">Level 3</mat-option>
                <mat-option value="4">Level 4</mat-option>
                <mat-option value="5">Level 5</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="cards">
        <app-card *ngFor="let program of programs" [program]="program"
            [participated]="participationIds.includes(program.id!)"></app-card>
    </div>
    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
        aria-label="Select page" #paginator>
    </mat-paginator>
</div>