.container {
    margin-top: 50px;
    min-height: calc(70vh - 98px);
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}

mat-paginator {
    margin-top: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.profile-filters {
    margin-top: 45px;
}