.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-height: calc(70vh - 50px);
}


.add-form {
    width: 400px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 10px;
}

@media only screen and (max-width: 500px) {
    .add-form {
        box-sizing: border-box;
        width: 90%;
        max-width: 90%;
    }
}

.field-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-parent-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-parent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

mat-form-field {
    width: 90%;
}

.image-upload-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 620px;
    margin-top: 30px;
    border: 1 px solid white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.image-upload-container:empty {
    padding: 0px;
}

.input-file-container {
    pointer-events: none;
    margin-top: 20px;
    width: 100px !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.image-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
}

.image-preview img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.remove-button {
    margin-top: 5px;
    pointer-events: auto;
    width: 50%;
    cursor: pointer;
}

.remove-and-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"]::file-selector-button {
    width: 100px;
    height: 40px;
    pointer-events: auto;
    flex-basis: 100%;
    background-color: #3F51B5;
    color: white;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    letter-spacing: 1px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #4c5ec4;
}

input[type="file"] {
    color: transparent;
    cursor: pointer;
}

.images-upload-text {
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 661px) {
    .image-upload-container {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}