/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.message {
    --mdc-snackbar-container-color: #3f51b5 !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    background: white;
    color: #3f51b5 !important;
}


.error {
    --mdc-snackbar-container-color: rgb(214, 68, 92) !important;

}