.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
}

.inner-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    /* width: calc(33% - 20.5px); */
    /* min-width: calc(33% - 20.5px); */
    border: 1px solid #3f51b5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    padding: 15px;
}

.detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-wrap: wrap;
}

.detail-name {
    width: 20%;
    min-width: fit-content;
    margin-right: 5px;
}

.fetch-container {
    padding: 30px;
    padding-bottom: 0px;
}

mat-form-field {
    max-width: 100%;
}

.detail-text {
    max-width: calc(80% - 5px);
}

@media only screen and (max-width: 1500px) {
    .inner-container {
        width: 46%;
    }
}

@media only screen and (max-width: 800px) {
    .inner-container {
        width: 98%;
    }
}

@media only screen and (max-width: 550px) {
    .detail-text {
        max-width: 100%;
    }
}